body {
    background-color: #b6c8d4;
    font-size: 18px;
}

nav a {
    margin-left: 1%;
    border: 1px solid hsl(36, 68%, 52%);
    padding: 10px;
    transition: background-color 0.3s;
}

a:hover {
    color: rgb(59, 38, 22);
}

nav a:hover {
    background-color:hsl(29, 82%, 49%);
    color: rgb(59, 38, 22);
}

h1, h2, h3 {
    color: hsl(34, 56%, 19%);
    font-style: italic;
    padding-left: 2%;
}

a {
    color: hsl(24, 65%, 36%);
    text-decoration: none;
}

input:not([type="submit"]):not([type="button"]), select {
    margin: 10px 10px;
    width: 200px;
}


label {
    display: block;
}

div.post {
    border: 2px solid hsl(0, 0%, 0%);
    margin: 10px;
    padding: 0.7%;
}
div#invitations {
    border: 2px solid hsl(36, 73%, 28%);
    margin: 10px;
}

div.post div {
    margin: 5px;
}

div#invitations div {
    margin: 5px;
}

h2 {
    font-size: 24px;
    margin: 10px;
}

img {
    padding-left: 1%;
    width: 300px;
}

.msg {
    border: 1px solid gray;
    margin: 10px;
    margin-top: 30px;
}

form#logout {
    display: inline;
}

input.tables {
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

input.tables:hover {
    background-color: darkgrey;
}